*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --font-one: 'Saira Condensed', sans-serif;
    --font-two: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --fs-icon: 1.25rem;

    --clr-light: rgb(255, 255, 255);
    --clr-dark: #303030;
    --clr-grey: #a0a0a0;
    --clr-extra: #97f0e2;

    --box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
                  0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}


@media (min-width: 900px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.15rem;
        --fs-icon: 2rem;
    }
}

body {
    background: var(--clr-dark);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--font-one);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section{
    padding: 5em 2em;
}

img {
    display: block;
}

h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }


.section_title {
    margin-bottom: .25rem;
    font-weight: var(--fw-reg);
    text-align: center;
}

.section_subtitle {
    margin: 0 auto 0.5rem;
    font-size: var(--fs-h3);
    font-weight: var(--fw-reg);
    text-align: center;
    
}

.wallpaper {
    background: linear-gradient(to bottom, #000000 0%,#303030 100%);
}

.intro {
    position: relative;
    max-width: 500px;
    margin: 0 auto 0;
}

.intro-subtitle {
    background: var(--clr-extra);
    color: var(--clr-dark);
    font-family: var(--font-two);
    padding: .25em 1em;
    max-width: 16em;
}

.intro-body {
    text-align: center;
}


.intro-img{
    box-shadow: var(--box-shadow);
    margin: 0 auto 0;
    max-width: 75%;
    
}

@media(min-width:700px) {
    .intro {
        display: grid;
        max-width: 800px;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img head" 
            "img body"
            "img body";
        grid-template-columns: 1fr auto;
    }


    .intro-img{
        grid-area: img;
        min-width: 300px;
    }

    .intro-title{
        text-align: left;
        grid-area: head;
        
    }

    .intro-subtitle{
        grid-area: head;
        margin: 0;
        margin-top: 3.5em;
    }

    .intro-body {
        text-align: left;
    }

}

.about_me {
    text-align: center;
}

.about_me-title {
    color: var(--clr-extra);
    position: relative;
}

.about_me-title::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.25em auto 0.25em;
    background: var(--clr-light);
    
}

.about_me-body {
    margin-bottom: 2em;
}

.hobby-img {
    box-shadow: var(--box-shadow);
    margin: 1em auto 0;
    max-width: 90%;
}

.hobby{
    max-width: 70%;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .hobbies {
        display: flex;
        max-width: 1300px;
        margin: 0 auto;
    }

    .hobby-img {
        width: 1000px;
    }

    .hobby + .hobby {
        margin-left: 2em;
    }

}


footer {
    background: #0f0f0f;
    text-align: center;
    padding: 0.1em 0;
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}

.footer-item {
    margin: 0 1em;
}

.footer-link {
    color: var(--clr-grey);
    font-size: var(--fs-icon);
    padding: .5em;
}

.footer-link:hover {
    color: var(--clr-extra);
    opacity: .8;
    margin-top: -2;
}



