*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --font-one: 'Saira Condensed', sans-serif;
    --font-two: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --fs-icon: 1.25rem;

    --clr-light: rgb(255, 255, 255);
    --clr-dark: #303030;
    --clr-grey: #a0a0a0;
    --clr-extra: #97f0e2;

    --box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
                  0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}


@media (min-width: 900px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.2rem;
        --fs-icon: 2rem;
    }
}

body {
    background: var(--clr-dark);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--font-one);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section{
    padding: 4em 2em;
}

img {
    display: block;
}

h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }


.section_title {
    margin-bottom: .25rem;
    font-weight: var(--fw-reg);
    text-align: center;
}

.section_subtitle {
    margin: 0 auto 0.5rem;
    font-size: var(--fs-h3);
    font-weight: var(--fw-reg);
    text-align: center;
    
}

.wallpaper {
    background: linear-gradient(to bottom, #000000 0%,#303030 100%);
}

header {
    display: flex;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav-list {
    list-style: none;
    display: flex;
    font-family: var(--font-two);
    padding: 0;
}

.nav-list-desktop {
    margin: auto; 
}

.nav-list-mobile {
    height: 60%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nav_pane {
    position: fixed;
    background: #000000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav-item {
    margin: 0 2em;
    color: var(--clr-light);
}

.header_link {
    color: inherit;
    font-size: var(--fs-body);
    text-decoration: none;
    transition: 0.3s;
}

.header_link:hover {
    color: var(--clr-extra);
}



.intro {
    position: relative;
    max-width: 500px;
    margin: 0 auto 0;
}

.intro-subtitle {
    background: var(--clr-extra);
    color: var(--clr-dark);
    font-family: var(--font-two);
    padding: .25em 1em;
    max-width: 16em;
    font-weight: var(--fw-bold);
}

.intro-body {
    text-align: center;
}

.intro-img{
    box-shadow: var(--box-shadow);
    margin: 0 auto 0;
    max-width: 75%;
    
}

@media(min-width:700px) {
    .intro {
        display: grid;
        max-width: 800px;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img head" 
            "img body"
            "img body";
        grid-template-columns: 1fr auto;
    }


    .intro-img{
        grid-area: img;
        min-width: 300px;
    }

    .intro-title{
        text-align: left;
        grid-area: head;
        
    }

    .intro-subtitle{
        grid-area: head;
        margin: 0;
        margin-top: 3.5em;
    }

    .intro-body {
        text-align: left;
    }

}


.skills {
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

.skills-title {
    font-size: var(--fs-h2);
    color: var(--clr-extra);
}

.skills-title::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.25em auto 0.25em;
    background: var(--clr-light);
}

.skill-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;

}

.skill-item {
    margin: 1em 1em;
    display: flex;
    flex-direction: column;
    font-size: var(--fs-body);
    transition: 0.3s;
    width: 70px;
    align-items: center;
}

@media (min-width: 900px) {
    .skill-item {
        width: 90px;
    }
}

.skill-item:hover {
    transform: scale(1.3);
}

.skill-item-text {
    margin-top: 0.2em;
    font-size: var(--fs-body);
}

.iconify {
    font-size: var(--fs-h1);
    margin-bottom: 0.1em;
}

.git {
    color: #f05033;
}

.webgl {
    color: #990000;
}

.about_me {
    width: 60%;
    margin: auto;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.about_me-title {
    color: var(--clr-extra);
    position: relative;
}

.about_me-title::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.25em auto 0.25em;
    background: var(--clr-light);
    
}

#prev_hobby {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: var(--fs-h2);
    color: var(--clr-white);
    cursor: pointer;
}

#next_hobby {
    position: absolute;
    top: 50%;
    right: 0%;
    z-index: 10;
    font-size: var(--fs-h2);
    color: var(--clr-white);
    cursor: pointer;
}

.hobbies_slide {
    margin-top: 2em;
    display: flex;
    width: 400%;
    transition: 0.4s;
}

.hobby{
    width: 25%;
    display: grid;
    margin: 0;
    grid-column-gap: 1em;
    grid-template-areas: 
        "img text"; 
    grid-template-columns: 50% 50%;
}

.hobby-img {
    width: 80%;
    grid-area: img;
    margin-left: 15%;
}

.hobby-text {
    width: 80%;
    grid-area: text;
    align-self: center;
}



.text_link {
    color: var(--clr-extra);
    text-decoration: none;
    transition: 0.3s;
}

.text_link:hover {
    opacity: .8;
}


footer {
    background: #0f0f0f;
    text-align: center;
    padding: 0.1em 0;
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1.2em 0;
    padding: 0;
}

.footer-item {
    margin: 0 1em;
    transition: 0.3s;
}

.footer-item:hover {
    transform: translateY(-20%);
}

.footer-link {
    color: var(--clr-grey);
    font-size: var(--fs-icon);
    padding: .5em;
    transition: 0.3s;
}

.footer-link:hover {
    color: var(--clr-extra);
    
}






@media (max-width: 799px) {
    .hide_for_mobile {
      display: none;
    }
  }
  
  @media (min-width: 800px) {
    .hide_for_desktop {
      display: none;
    }
  }
